<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">

  <div class="d-flex justify-content-start mb-3">
    <button (click)="volver()" class="btn btn-outline-secondary">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
  </div>
  <h2 class="text-center mb-4">Temas</h2>

  <ul class="list-group">
    <li *ngFor="let tema of temas" class="list-group-item">

      <p><strong>Tema:</strong> {{ tema.nombre }}</p>
      <p><strong>Descripción:</strong> {{ tema.descripcion }}</p>

      <div>
        <button (click)="editarTema(tema.id)" class="btn btn-warning btn-sm">Editar</button>
        <button (click)="eliminarTema(tema.id)" class="btn btn-danger btn-sm">Eliminar</button>
      </div>

    </li>
  </ul>

  <button (click)="nuevoTema()" class="btn btn-success mt-3">Agregar Tema</button>
</div>

