<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<form [formGroup]="editarTemaForm" (ngSubmit)="guardar()" class="p-4 border rounded bg-light">
  <h3 class="mb-4">Editar Tema</h3>
  <div class="d-flex justify-content-start mb-3">
    <button (click)="volver()" class="btn btn-outline-secondary">
      <i class="fas fa-arrow-left"></i> Volver
    </button>
  </div>
  <div>
    <label for="nombre" class="form-label">Tema</label>
    <input type="text" formControlName="nombre" id="nombre" class="form-control" [value]="tema?.nombre || ''" />
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <input type="text" formControlName="descripcion" id="descripcion" class="form-control" [value]="tema?.descripcion || ''" />
  </div>

  <button type="submit" class="btn btn-primary w-100">Guardar</button>
</form>
